<nav class="navbar navbar-expand-lg sticky-top">
  <div class="container" style="max-width:860px">
    <a class="navbar-brand" href="/">
      <%= siteName %>
      <% if (siteTagline) { %><small><%= siteTagline %></small><% } %>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navMenu">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navMenu">
      <ul class="navbar-nav ms-auto align-items-center">
        <li class="nav-item">
          <a class="nav-link <%= typeof currentPath !== 'undefined' && currentPath === '/' ? 'active' : '' %>" href="/">Início</a>
        </li>
        <% if (typeof navPages !== 'undefined') { %>
          <% navPages.forEach(function(p) { %>
            <li class="nav-item">
              <a class="nav-link <%= typeof currentPath !== 'undefined' && currentPath === '/page/' + p.post_name ? 'active' : '' %>"
                href="/page/<%= p.post_name %>"><%= p.post_title %></a>
            </li>
          <% }) %>
        <% } %>
        <li class="nav-item ms-2">
          <button id="theme-toggle" class="theme-btn" title="Alternar tema" aria-label="Alternar tema">
            <i id="theme-icon" class="bi bi-sun-fill"></i>
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
